/* alexandria-200 - latin */
@font-face {
    font-family: 'Alexandria-extraLight';
    font-style: normal;
    font-weight: 200;
    src: url('../Font/alexandria-v1-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../Font/alexandria-v1-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Font/alexandria-v1-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../Font/alexandria-v1-latin-200.woff') format('woff'), /* Modern Browsers */
         url('../Font/alexandria-v1-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Font/alexandria-v1-latin-200.svg#Alexandria') format('svg'); /* Legacy iOS */
  }
  /* alexandria-regular - latin */
  @font-face {
    font-family: 'Alexandria-normal';
    font-style: normal;
    font-weight: normal;
    src: url('../Font/alexandria-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../Font/alexandria-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Font/alexandria-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../Font/alexandria-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../Font/alexandria-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Font/alexandria-v1-latin-regular.svg#Alexandria') format('svg'); /* Legacy iOS */
  }
  /* alexandria-600 - latin */
  @font-face {
    font-family: 'Alexandria-semiBold';
    font-style: normal;
    font-weight: 600;
    src: url('../Font/alexandria-v1-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../Font/alexandria-v1-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Font/alexandria-v1-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../Font/alexandria-v1-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../Font/alexandria-v1-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Font/alexandria-v1-latin-600.svg#Alexandria') format('svg'); /* Legacy iOS */
  }
  /* alexandria-700 - latin */
  @font-face {
    font-family: 'Alexandria-bold';
    font-style: normal;
    font-weight: 700;
    src: url('../Font/alexandria-v1-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../Font/alexandria-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Font/alexandria-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../Font/alexandria-v1-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../Font/alexandria-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Font/alexandria-v1-latin-700.svg#Alexandria') format('svg'); /* Legacy iOS */
  }